<a href="https://colab.research.google.com/github/nicolas-errandonea/TFG/blob/TFGcodes/RFserieA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#primero importamos la primera base de datos
from google.colab import drive
from matplotlib import pyplot as plt
import numpy as np 
import pandas as pd
import random
drive.mount('/content/gdrive', force_remount=True)
path = "/content/gdrive/My Drive/SerieA/serieA_data.csv"
df = pd.read_csv(path)

Mounted at /content/gdrive

In [ ]:
from tensorflow import keras
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import numpy
from sklearn import metrics
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import RMSprop
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

Hay valores vacios en algunas filas, en este caso faltan las cuotas de las casas de apuestas

In [ ]:
df.isnull().values.any()

True

In [ ]:
df1 = df[df.isna().any(axis=1)]

In [ ]:
df1

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,...,HF_A,AF_A,HC_A,AC_A,HY_A,AY_A,HR_A,AR_A,home_points_A,away_points_A
176,10/01/2022,Torino,Fiorentina,1.9,1.0,1,0.9,0.2,14.3,9.8,...,14.3,12.7,4.0,5.0,2.7,3.0,0.1,0.3,1.6,1.3
722,19/10/2020,Verona,Genoa,1.5,1.4,2,0.7,0.4,9.4,12.9,...,15.0,14.5,4.7,3.7,2.4,2.5,0.2,0.2,1.3,1.3
724,18/10/2020,Udinese,Parma,0.8,1.4,1,0.4,0.5,9.7,9.5,...,12.7,12.5,5.6,4.1,2.3,2.0,0.0,0.1,1.4,1.4

In [ ]:
df = df.drop(labels=[176,722,724], axis=0)

In [ ]:
df2=df.copy()
cols_to_drop = ['Date','HomeTeam','AwayTeam','FTR', 'HR','AR','HR_A','AR_A','HTAG','HTHG','HTAG_A','HTHG_A' ]


df2.drop( columns = cols_to_drop, inplace = True)

In [ ]:
df2.head()

,FTHG,FTAG,HS,AS,HST,AST,HF,AF,HC,AC,...,HST_A,AST_A,HF_A,AF_A,HC_A,AC_A,HY_A,AY_A,home_points_A,away_points_A
0,1.0,2.4,12.0,15.2,3.6,6.1,14.4,13.2,4.1,6.3,...,4.7,3.2,14.6,16.0,4.0,3.3,1.9,3.3,1.7,1.1
1,1.2,1.9,12.0,12.8,3.5,4.8,12.7,16.4,5.4,5.2,...,4.5,4.8,13.9,15.0,6.4,5.3,3.0,2.5,1.3,1.3
2,1.7,1.7,16.6,11.0,5.9,4.3,11.8,13.3,6.3,5.2,...,3.5,5.6,14.6,11.4,4.6,5.9,2.0,2.6,0.3,2.4
3,2.1,1.0,19.7,9.3,7.5,3.0,12.2,11.4,7.5,2.7,...,4.8,2.0,15.4,11.7,6.7,2.0,1.9,2.1,2.3,0.5
4,1.2,1.6,9.0,19.0,2.9,5.0,14.7,11.5,3.9,5.6,...,4.2,4.4,13.9,12.6,4.4,4.6,2.5,1.7,0.5,2.3

In [ ]:
prediction_cols=['FTR']

x_train = df2[380:]        
y_train = df[380:][prediction_cols]
x_test = df2[0:380]       
y_test = df[0:380][prediction_cols]

In [ ]:
clf=RandomForestClassifier(n_estimators=10000,warm_start=False,ccp_alpha=0.005)

In [ ]:
clf.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(ccp_alpha=0.005, n_estimators=10000)

In [ ]:
y_pred=clf.predict(x_test)
print(y_pred)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

[3 1 3 1 3 1 1 1 1 3 1 3 3 1 1 1 1 1 1 3 1 3 1 3 3 1 1 3 3 1 1 1 1 3 1 3 1
 3 1 1 1 3 1 1 3 3 1 3 3 3 1 1 3 1 1 1 1 1 1 1 1 1 3 1 3 1 3 1 3 3 1 3 3 1
 1 1 1 3 3 1 1 1 3 1 1 3 1 1 1 3 3 1 1 3 1 1 3 3 1 3 1 1 3 1 3 1 1 3 1 3 1
 3 3 1 1 1 3 3 1 1 3 3 3 3 1 1 3 3 1 1 3 3 1 1 1 3 3 3 1 1 1 1 1 3 1 3 1 3
 3 3 1 1 1 1 1 3 3 1 1 1 3 3 1 3 1 1 1 3 3 1 3 1 1 3 3 3 1 1 3 1 3 1 3 3 1
 1 1 3 1 1 1 3 3 1 1 3 1 1 3 1 1 1 3 1 3 3 1 3 1 1 1 1 1 3 1 3 3 1 3 3 1 1
 3 3 3 3 1 3 1 1 1 3 3 1 3 1 3 1 1 1 1 3 1 1 3 1 3 3 1 1 1 3 1 3 1 1 3 3 1
 3 1 1 3 1 3 3 1 3 1 1 1 3 1 1 1 1 1 3 1 1 1 3 3 1 3 1 1 1 1 1 3 3 1 1 3 1
 3 1 1 3 1 1 1 3 3 1 1 3 1 1 1 3 1 1 3 3 3 3 1 3 1 1 3 1 1 1 3 1 3 1 3 3 1
 1 3 3 3 1 1 3 1 3 1 1 1 3 1 3 1 1 1 1 1 3 1 3 1 1 1 3 1 1 3 1 1 1 1 3 1 3
 1 1 1 3 1 3 3 3 1 1]
Accuracy: 0.5368421052631579

In [ ]:
result=(y_test.to_numpy())
print(type(result))

<class 'numpy.ndarray'>

In [ ]:
#comprobación de mi codigo
hits=0
total=0
for i in range(len(y_pred)):
  if((y_pred[i]==[0,0,0]).all()):
    i
  else:
    total=total+1
    if(((y_pred[i]-result[i])==[0,0,0]).all()):
      hits=hits+1
print(hits/total)

0.5368421052631579

In [ ]:
#acierto de las casas de apuestas
total=len(y_test.index)
aciertos=0
for i in y_test.index:
   minimo=min(df2.B365H[i],df2.B365D[i],df2.B365A[i])
   if(df.FTR[i]==1 and minimo==df2.B365H[i]):
     aciertos=aciertos+1
   if(df.FTR[i]==2 and minimo==df2.B365D[i]):
     aciertos=aciertos+1
     
   if(df.FTR[i]==3 and minimo==df2.B365A[i]):
     aciertos=aciertos+1
print(aciertos/total)

0.5263157894736842

In [ ]:
feature_imp = pd.Series(clf.feature_importances_,index=list(df2)).sort_values(ascending=False)
print((feature_imp))

B365A            0.256403
B365H            0.253081
HST              0.054826
B365D            0.048067
AC_A             0.027787
home_points      0.027040
AST_A            0.026711
AS_A             0.024994
home_points_A    0.024665
away_points_A    0.024430
HS               0.022227
FTAG_A           0.020536
HS_A             0.019723
AS               0.019625
FTHG             0.015494
away_points      0.014429
HC               0.014060
HST_A            0.013541
HC_A             0.012919
AC               0.010888
FTHG_A           0.010833
AF_A             0.010726
AF               0.008918
AST              0.007541
FTAG             0.006588
HY               0.004678
AY               0.004302
HF_A             0.004162
AY_A             0.004139
HF               0.004028
HY_A             0.002637
dtype: float64

# **Searching for the best random forest**

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 5000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt',3]
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 170, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5,7, 10,12]
# Minimum number of samples required at each leaf node
min_samples_leaf = [2, 4,6,7,10,12]
# Method of selecting samples for training each tree
bootstrap = [True, False]
warm_start=[True,False]
ccp_alpha=[0.003,0.007,0.005,0.0025]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'warm_start':warm_start,
               'ccp_alpha':ccp_alpha}
print(random_grid)

{'n_estimators': [200, 733, 1266, 1800, 2333, 2866, 3400, 3933, 4466, 5000], 'max_features': ['auto', 'sqrt', 3], 'max_depth': [10, 26, 42, 58, 74, 90, 106, 122, 138, 154, 170, None], 'min_samples_split': [2, 5, 7, 10, 12], 'min_samples_leaf': [2, 4, 6, 7, 10, 12], 'bootstrap': [True, False], 'warm_start': [True, False], 'ccp_alpha': [0.003, 0.007, 0.005, 0.0025]}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 500, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(x_train, y_train)

Fitting 3 folds for each of 500 candidates, totalling 1500 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=500,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'ccp_alpha': [0.003, 0.007, 0.005,
                                                      0.0025],
                                        'max_depth': [10, 26, 42, 58, 74, 90,
                                                      106, 122, 138, 154, 170,
                                                      None],
                                        'max_features': ['auto', 'sqrt', 3],
                                        'min_samples_leaf': [2, 4, 6, 7, 10,
                                                             12],
                                        'min_samples_split': [2, 5, 7, 10, 12],
                                        'n_estimators': [200, 733, 1266, 1800,
                                                         2333, 2866, 3400, 3933,
                                                         4466, 5000],
                                        'warm_start': [True, False]},
                   random_state=42, verbose=2)

In [ ]:
rf_random.best_params_

{'bootstrap': True,
 'ccp_alpha': 0.005,
 'max_depth': 122,
 'max_features': 'auto',
 'min_samples_leaf': 10,
 'min_samples_split': 7,
 'n_estimators': 2866,
 'warm_start': True}

In [ ]:
def evaluate(model, x_test, y_test):
  result=(y_test.to_numpy())
  y_pred = model.predict(x_test)
  hits=0
  total=0
  for i in range(len(y_pred)):
    total=total+1
    if((y_pred[i]-result[i])==[0]):
      hits=hits+1
  print(hits/total)
  accuracy=hits/total
  return accuracy

In [ ]:
base_model = RandomForestClassifier(n_estimators = 2000,warm_start=False,ccp_alpha=0.005)
base_model.fit(x_train, y_train)
base_accuracy = evaluate(base_model, x_test, y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.5368421052631579

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, x_test, y_test)

0.5342105263157895

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 2000, stop = 4000, num = 3)]
# Number of features to consider at every split
max_features = ['auto']
# Maximum number of levels in tree
max_depth = [120,140]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [7,9]
# Minimum number of samples required at each leaf node
min_samples_leaf = [10]
# Method of selecting samples for training each tree
bootstrap = [True]
warm_start=[True]
ccp_alpha=[0.005]
max_samples=[None]
min_weight_fraction_leaf=[0.0,0.05,0.5]
max_leaf_nodes=[None,100,1000]
# Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap,
               'warm_start':warm_start,
               'ccp_alpha':ccp_alpha,
               'max_samples':max_samples,
               'min_weight_fraction_leaf':min_weight_fraction_leaf,
               'max_leaf_nodes':max_leaf_nodes}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
grid_search.fit(x_train, y_train)
grid_search.best_params_

Fitting 3 folds for each of 162 candidates, totalling 486 fits

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

{'bootstrap': True,
 'ccp_alpha': 0.005,
 'max_depth': 140,
 'max_features': 'auto',
 'max_leaf_nodes': 100,
 'max_samples': None,
 'min_samples_leaf': 10,
 'min_samples_split': 9,
 'min_weight_fraction_leaf': 0.05,
 'n_estimators': 4000,
 'warm_start': True}

In [ ]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, x_test, y_test)

0.5342105263157895

In [ ]:
base_modell = RandomForestClassifier(n_estimators = 4000,bootstrap=True ,max_depth=140,max_samples=None,max_features='auto',min_samples_leaf=10,min_samples_split=9,warm_start=True,ccp_alpha=0.005,min_weight_fraction_leaf=0.05,max_leaf_nodes=100)
base_modell.fit(x_train, y_train)
base_accuracy = evaluate(base_modell, x_test, y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.531578947368421